/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2014, 2:03:03 PM
    Author     : Jerome
*/
body{
    background-color: lightgray;
    font-family: arial;
}

.leftDiv{
    width: 400px;
    float: left;
    padding-top: 10px;
}

.rightDiv{
    width: 399px;
    float: left;
    border-left: solid 1px blue;
    padding-top: 10px;
}

.stockList, .transactionList{
    height: 332px;
    overflow: auto;
    margin-left: 10px;
}

.stockName{
    float: left;
    width: 60px;
}

input[type=text]{
    width: 28px;
}

.stockBuyingPrice, .stockQtty, .stockResult, .stockPrice{
    float: left;
    width: 60px;
}

.stockRate{
    float: left;
    width: 100px;
}

#content{
    width: 800px;
    margin: 0 auto;
    height: 695px;
    box-shadow: 3px 5px 5px #888888;
    background-color: white;
    padding:10px;
}

.columnTitle{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
    font-weight: bold;
}

#footer{
    clear:both;
    border-top: 1px solid blue;
}

#header{
    border-bottom: 1px solid blue;
}


a{
    text-decoration: none;
}
input[type=submit]:disabled, .button:disabled{
    background-color: lightgray;
    color: #5C5C5C;
    border: 1px solid darkgray;
}

input[type=submit]:hover, .button:hover{
    border: 1px solid darkgray;
    background-color: darkgreen;
    text-decoration: none;
    cursor: pointer;
}
input[type=submit]:disabled:hover, .button:disabled:hover{
    border: 1px solid darkgray;
    background-color: lightgray;
    cursor: auto;
}

input[type=submit], .button{
    text-transform: uppercase;
    color: lightgray;
    background-color: green;
    font-weight: bold;
    color: white;
    border: 1px solid darkgreen;
    height: 30px;
    width: 55px;
}
.clear{
    clear: both;
    width: 1px;
}

#chart_div{
    margin-top:377px;
    border-top: 1px solid blue;
}

.stockNewPrice{
    text-align:center;
    text-transform:uppercase;
    height: 22px;
    border-bottom: 1px solid black;
}

#centerDiv{
    height: 545px;
    padding: 20px;
}

.long{
    width: 120px !important;
}

.center{
    text-align:center;

}

#logoutDiv{
    float: right;
    padding-top: 37px;
}

#imgHeader{
    float:left;
}


#logoutButton:hover{
    border: 1px solid darkgray;
    background-color: darkred;
    text-decoration: none;
    cursor: pointer;
}

#logoutButton{
    text-transform: uppercase;
    background-color: #cc3333;
    font-weight: bold;
    color: white;
    border: 1px solid darkred;
    height: 30px;
    width: 100px;
}

#result{
    padding-top: 20px;
}

.formError{
    color: red;
}

.formValid{
    color: green;
}

.error{
    color: red;
}